<div *ngIf="showModalDeleteConfirm">
  <app-delete-confirm [loading]="loading" (modalChangeEvent)="onChangeShowModalDelete()" (deleteCarEvent)="deleteCar()">
  </app-delete-confirm>
</div>

<div *ngIf="showModalEditModal">
  <app-car-edit-modal [carEdit]="carSelected" (modalChangeEvent)="onChangeShowModalEdit()"></app-car-edit-modal>
</div>

<div class="car-table">
  <div class="flex flex-col">
    <div class="w-full">
      <div class="car-table-border">
        <table class="w-full">
          <thead class="bg-gray-50">
            <tr>
              <th class="car-table-header">Id. del auto</th>
              <th class="car-table-header">Marca</th>
              <th class="car-table-header">Modelo</th>
              <th class="car-table-header">Color</th>
              <th class="car-table-header">Fecha de Ingreso</th>
              <th class="car-table-header">Estado</th>
              <th class="car-table-header">Editar</th>
              <th class="car-table-header">Eliminar</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="whitespace-nowrap" *ngFor="let car of cars;let i = index">
              <td class="car-table-body">{{ car.car_identification }}</td>
              <td class="car-table-body">
                <p>{{ car.brand }}</p>
              </td>
              <td class="car-table-body">
                <p>{{ car.model }}</p>
              </td>
              <td class="car-table-body">
                <p>{{ car.color }}</p>
              </td>
              <td class="car-table-body">
                <p>{{ getFormDate(car.input_date) }}</p>
              </td>
              <td class="car-table-body">
                <p>{{ car.status ? 'Activo' : 'Inactivo' }}</p>
              </td>
              <td class="car-table-body">
                <button class="car-table_edit-button" (click)="selectedCarEdit(car)">Edit</button>
              </td>
              <td class="car-table-body_padding">
                <button class="car-table_delete-button" (click)="selectedCarDelete(car)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="cars.length === 0" class="py-6 text-sm font-bold text-center text-gray-900 w-full">No hay registros
        </p>
      </div>
    </div>
  </div>
</div>