<div class="sign-up">
  <div class="sign-up_body">
    <div>
      <p class="font-logo_admin">Admin<span class="text-orange-500">Car</span></p>
      <h2 class="font-form_header">Registra una cuenta</h2>
    </div>
    <form class="mt-8 space-y-6" (ngSubmit)="onSubmit()" [formGroup]="carForm">
      <input type="hidden" name="remember" value="true">
      <div class="font-form_body">
        <div>
          <label for="name" class="sr-only">Name</label>
          <input formControlName="name" name="name" type="text" autocomplete="off" class="font-form_field" placeholder="Your Name">
        </div>
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input formControlName="email" name="email" type="email" autocomplete="email" class="font-form_field" placeholder="Email address">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input formControlName="password" name="password" type="password" autocomplete="current-password" class="font-form_field"
            placeholder="Password">
        </div>
      </div>

      <div>
        <button type="submit" [disabled]="carForm.pristine || carForm.invalid || loading"
          [ngClass]="carForm.pristine || carForm.invalid || loading ? 'opacity-25' : 'opacity-100'"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-orange-500">
          Registrate
        </button>
      </div>
      <p class="text-sm text-center text-gray-600">Ya tienes una cuenta?
        <a [routerLink]="['/signin']" class="text-orange-500">Ingresar ahora</a>
      </p>
    </form>
  </div>
</div>