<div class=".main-modal-container" role="dialog" aria-modal="true">
  <div class="modal-container-1"></div>
  <div class="inset-container">
    <div class="item-container">
      <div class="card-container">
        <p class="text-center">¿Estás seguro que deseas eliminar este vehiculo?</p>
        <div class="button-container">
          <button type="button" class="save-button" (click)="deleteCarEmit()">
            Eliminar
          </button>
          <button type="button" class="cancel-button" (click)="onChangeModalEmit()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>