<div class="car-table">
  <div class="flex flex-col">
    <div class="w-full">
      <div class="car-table-border">
        <table>
          <thead class="bg-gray-50">
            <tr>
              <th class="car-table-header">ID</th>
              <th class="car-table-header">Marca</th>
              <th class="car-table-header">Modelo</th>
              <th class="car-table-header">Color</th>
              <th class="car-table-header">Fecha de Ingreso</th>
              <th class="car-table-header">Estado</th>
              <th class="car-table-header">Editar</th>
              <th class="car-table-header">Eliminar</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="whitespace-nowrap">
              <td class="car-table-body">1</td>
              <td class="car-table-body">
                <div>Jon doe</div>
              </td>
              <td class="car-table-body">
                <div>jhondoe@example.com</div>
              </td>
              <td class="car-table-body">
                <div>jhondoe@example.com</div>
              </td>
              <td class="car-table-body">2021-1-12</td>
              <td class="car-table-body">2021-1-12</td>
              <td class="car-table-body">
                <a
                  href="#"
                  class="car-table_edit-button"
                  >Edit</a
                >
              </td>
              <td class="car-table-body_padding">
                <a
                  href="#"
                  class="car-table_delete-button"
                  >Delete</a
                >
                
              </td>
            </tr>
            <tr class="whitespace-nowrap">
              <td class="car-table-body">1</td>
              <td class="car-table-body">
                <div>Jon doe</div>
              </td>
              <td class="car-table-body">
                <div>jhondoe@example.com</div>
              </td>
              <td class="car-table-body">
                <div>jhondoe@example.com</div>
              </td>
              <td class="car-table-body">2021-1-12</td>
              <td class="car-table-body">2021-1-12</td>
              <td class="car-table-body">
                <a
                  href="#"
                  class="car-table_edit-button"
                  >Edit</a
                >
              </td>
              <td class="px-6 py-4">
                <a
                  href="#"
                  class="car-table_delete-button"
                  >Delete</a
                >
              </td>
            </tr>
            <tr class="whitespace-nowrap">
              <td class="car-table-body">1</td>
              <td class="car-table-body">
                <div>Jon doe</div>
              </td>
              <td class="car-table-body">
                <div>jhondoe@example.com</div>
              </td>
              <td class="car-table-body">
                <div>jhondoe@example.com</div>
              </td>
              <td class="car-table-body">2021-1-12</td>
              <td class="car-table-body">2021-1-12</td>
              <td class="car-table-body">
                <a
                  href="#"
                  class="car-table_edit-button"
                  >Edit</a
                >
              </td>
              <td class="car-table-body_padding">
                <a
                  href="#"
                  class="car-table_delete-button"
                  >Delete</a
                >
                
              </td>
            </tr>
            <tr class="whitespace-nowrap">
              <td class="car-table-body">1</td>
              <td class="car-table-body">
                <div>Jon doe</div>
              </td>
              <td class="car-table-body">
                <div>jhondoe@example.com</div>
              </td>
              <td class="car-table-body">
                <div>jhondoe@example.com</div>
              </td>
              <td class="car-table-body">2021-1-12</td>
              <td class="car-table-body">2021-1-12</td>
              <td class="car-table-body">
                <a
                  href="#"
                  class="car-table_edit-button"
                  >Edit</a
                >
              </td>
              <td class="car-table-body_padding">
                <a
                  href="#"
                  class="car-table_delete-button"
                  >Delete</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
