<form class="w-full">
  <div class="input-container">
    <div class="input-group">
      <label class="input-label">
        Id del auto
      </label>
      <input class="input-field" type="text" placeholder="1">
    </div>
    <div class="input-group">
      <label class="input-label">
        Marca
      </label>
      <input class="input-field" type="text" placeholder="Audi">
    </div>
    <div class="input-group">
      <label class="input-label">
        Modelo
      </label>
      <input class="input-field" type="text" placeholder="2022">
    </div>
  </div>
  <div class="input-container">
    <div class="input-group">
      <label class="input-label" for="grid-city">
        Color
      </label>
      <input class="input-field" id="grid-city" type="text" placeholder="Rojo">
    </div>
    <div class="input-group">
      <label class="input-label" for="grid-state">
        Estado
      </label>
      <div class="relative">
        <select class="input-field" id="grid-state">
          <option>Activo</option>
          <option>Inactivo</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>
    <div class="input-group">
      <label class="input-label" for="grid-zip">
        Fecha de Ingreso
      </label>
      <input class="input-field" id="grid-zip" type="text" placeholder="90210">
    </div>
  </div>
</form>