<form [formGroup]="carForm" (ngSubmit)="onSubmitFilter()" class="w-full mb-8 mt-4">
  <div class="input-container">
    <div class="input-group">
      <label class="input-label">
        Id del auto
      </label>
      <input class="input-field" type="text" placeholder="1" formControlName="car_identification">
    </div>
    <div class="input-group">
      <label class="input-label">
        Marca
      </label>
      <div class="relative">
        <select formControlName="brand" class="status-selector" id="grid-brand">
          <option *ngFor="let brand of carBrandList" [ngValue]="brand">{{ brand }}</option>
        </select>
        <div class="selector-container">
          <svg class="svg-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
    </div>
    <div class="input-group">
      <label class="input-label">
        Modelo
      </label>
      <input formControlName="model" class="input-field" type="number" [min]="2000" [max]="2022" placeholder="2022" />
    </div>
  </div>
  <div class="input-container">
    <div class="input-group">
      <label class="input-label" for="grid-color">
        Color
      </label>
      <div class="relative">
        <select formControlName="color" class="status-selector" id="grid-color">
          <option *ngFor="let color of carColorList" [ngValue]="color">{{ color }}</option>
        </select>
        <div class="selector-container">
          <svg class="svg-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
    </div>
    <div class="input-group">
      <label class="input-label" for="grid-state">
        Estado
      </label>
      <div class="relative">
        <select class="input-field" id="grid-state" formControlName="status">
          <option ngValue="Activo">Activo</option>
          <option ngValue="Inactivo">Inactivo</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
      </div>
    </div>
    <div class="input-group">
      <label class="main-label" for="grid-zip">
        Fecha de Ingreso
      </label>
      <input formControlName="input_date" class="date-input" type="date" placeholder="2022/01/01" />
    </div>
  </div>
  <div class="flex gap-4">
    <button type="submit" class="search-button">Buscar</button>
    <button type="button" class="underline text-gray-700 text-sm" (click)="cleanFilter()">Limpiar filtros</button>
  </div>
  
</form>